html {
  font-family: "Josefin Sans", sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  display: grid;
  justify-items: center;
  margin-top: 0%;
  background-color: #bf7154;
  width: 100%;
}

img {
  width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

p,
h1,
h2,
h3 {
  margin: 0px;
}

p {
  font-size: 1.25rem;
  line-height: 1.3;
}

.header {
  display: grid;
  gap: 60px;
  justify-items: center;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.menu a {
  display: block;
  background: #ffffff;
  padding: 1rem 2rem;
  border-radius: 4px;
  color: #000000;
  text-transform: uppercase;
  border: 2px solid #fff;
  font-weight: 500;
}

.menu a:hover {
  border-color: #f2aa52;
}

.conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  max-width: 1280px;
}

.introducao {
  background: #cab8b8;
  padding: 40px;
  text-align: right;
  position: relative;
  display: grid;
  gap: 20px;
  align-content: center;
  justify-items: end;
}

.introducao h1 {
  font-size: 2rem;
}

.introducao-cover img {
  object-fit: cover;
  height: 100%;
}

.subtitulo {
  font-size: 4rem;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.2);
  text-align: right;
  padding: 40px;
  align-self: center;
}

.vantagens {
  background: #cab8b8;
  padding: 40px;
}

.vantagens-item {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px 20px;
  padding: 20px;
  border-left: 4px solid transparent;
}

.vantagens-item:nth-child(odd) {
  background: #bf7154;
}

.vantagens-item:hover {
  border-color: #733925;
}

.vantagens-item p {
  grid-column: 2;
}

@media (max-width: 1000px) {
  .conteudo-vantagem {
    grid-template-columns: 1fr;
  }
  .subtitulo {
    text-align: center;
  }
}

@media (max-width: 680px) {
  .header {
    gap: 30px;
  }
  .conteudo {
    grid-template-columns: 1fr;
  }
  .introducao {
    text-align: left;
    justify-items: start;
  }
  .introducao::before {
    display: none;
  }
  .subtitulo {
    font-size: 3rem;
  }

  /**/

  footer {
    flex-direction: column;
    width: 100%;
  }

  footer div {
    padding: 8px;
  }

  .logo-footer {
    display: none;
  }

  .divisor {
    display: none;
  }
}

@media (max-width: 420px) {
  .subtitulo {
    font-size: 2rem;
  }
  p {
    font-size: 1rem;
  }
}

#label-vantagens {
  color: #f7f7f7;
}

.conteudo-vantagem {
  background-image: url(./imagens/pexels-valeria-boltneva-17138065.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

div article {
  margin-bottom: 40px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
  color: #f7f7f7;
}

div article h1 {
  text-align: center;
  margin-bottom: 20px;
}

.sobre-produtos {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

article p {
  margin-bottom: 20px;
}

footer {
  display: flex;

  background-color: #733925;
  gap: 8px;
  padding: 8px;
  max-width: 1280px;
}

.logo-footer {
  width: 20%;
}
.logo-footer img {
  width: 80%;
}
.contatos {
  min-width: 30%;
  padding: 0 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: #f7f7f7;
}
.contatos h3 {
  padding: 10px 0;
  font-weight: 700;
}
.contatos p {
  display: flex;
  gap: 8px;
  align-items: center;
  font-size: 1rem;
}
.contatos a {
  color: #ccc;
  text-decoration: none;
}
.divisor {
  height: 1px;
  width: 100%;
  margin-top: 8px;
  background-color: #cccccc33;
}
.redes {
  display: flex;
  font-size: 32px;
}

.redes a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
}
.redes a:hover {
  background-color: #bf7154;
  border-radius: 50%;
  transition: background-color 0.3s;
  color: #733925;
}

.maps {
  min-width: 50%;
}

.dev-direitos {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1280px;
  background-color: #733925;
  padding: 8px;
}
.dev-direitos p {
  color: #cccccc;
  font-size: 14px;
}

.dev-direitos span {
  color: #733925;
  font-size: 18px;
}
.dev-direitos a {
  color: #ccc;
  text-decoration: none;
  text-decoration: underline;
}
